html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: none;
}

.dashboard-background {
  min-height: 100vh;
  width: 100%;

  background: url("../assets/appbg.jpg") center center / cover no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  padding: 80px 32px 32px 32px;
}
